[submodule "mysubmodule1"]
	path = mysubmodule1
	url = git@github.com:Android-Daily/MyAppSubmodule1.git
[submodule "mysubmodule2"]
	path = mysubmodule2
	url = git@github.com:Android-Daily/MyAppSubmodule2.git
[submodule "mysubmodule3"]
	path = mysubmodule3
	url = git@github.com:fenggit/MyAppSubmodule3.git
